.sidebar {
    width: 15%;
    height: 100%;
    background-color: whitesmoke;
    padding: 16px;
    font-family: var(--roboto);
}

.sidebar > .logo {
    font-weight: 700;;
    font-size: 20px;
}

.sidebar > .logo > span {
    color: chocolate;
}

.sidebar > .profile {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 16px;
    padding: 4px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.sidebar > .profile > .profileImage {
    background-image: url('../img/profile.jpg');
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-right: 8px;
}

.sidebar > .profile > .name {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    align-self: end;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.sidebar > .profile > .name > span > img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.sidebar > .profile > .email {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    font-size: 13px;
}

.sidebar > .inbox {
    font-size: 20px;
    margin-top: 32px;
}

.sidebar > .menu {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 16px;
}

.sidebar .side-tile {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    cursor: default;
}

.sidebar .tile.selected {
    background-color: lightgray;
}

.sidebar .tile {
    border-radius: 10px;
}

.sidebar .tile:hover {
    background-color: var(--orange);
    color: white;
}

.sidebar > .workspaces {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar > .workspaces > .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar > .workspaces .title {
    font-size: 20px;
}

.sidebar > .workspaces .newSpace {
    content: url('../icon/plus-box.svg');
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.sidebar > .workspaces .newSpace:hover {
    scale: 120%;
}

.sidebar > .workspaces .noSpace {
    content: url('../icon/minus-box.svg');
    height: 20px;
    width: 20px;
    transition: 0.3s;
}

.sidebar > .workspaces .noSpace:hover {
    scale: 120%;
}

.sidebar > .workspaces > .newSpaceForm form {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.sidebar > .workspaces > .newSpaceForm input {
    width: 90%;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.sidebar > .workspaces > .newSpaceForm .enter {
    background-color: lightgray;
    padding: 4px;
    border-radius: 5px;
}

.sidebar > .workspaces > .newSpaceForm .enter:hover {
    background-color: gray;
}

.sidebar > .workspaces > .newSpaceForm img {
    content: url('../icon/arrow-up-thick.svg');
    width: 15px;
    height: 15px;
}