.main > .content.Week {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main > .content.Week > * {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 32px;
  height: 50px;
  cursor: default;
  transition: 0.3s;
}

.main > .content.Week > *:hover {
  scale: 101%;
}

.main > .content.Week > .week-task > .title {
  font-weight: 500;
  font-size: 20px;
  border-right: 1px solid lightgrey;
  padding-right: 32px;
}

.main > .content.Week > .week-task > .status {
  margin-left: auto;
  width: 7%;
  padding: 2px 8px;
  color: white;
  font-size: 13px;
  height: 70%;
  display: flex;
  align-items: center;
}

.main > .content.Week > .week-task > .not-started {
  background-color: tomato;
}

.main > .content.Week > .week-task > .in-progress {
  background-color: orange;
}

.main > .content.Week > .week-task > .complete {
  background-color: lightgreen;
}
