.main > .content.Tomorrow {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main > .content.Tomorrow > * {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    gap: 32px;
    height: 50px;
    cursor: default;
    transition: 0.3s;
}

.main > .content.Tomorrow > *:hover {
    scale: 101%;
}

.main > .content.Tomorrow > .tomorrow-task > .title {
    font-weight: 500;
    font-size: 20px;
    border-right: 1px solid lightgrey;
    padding-right: 32px;
}

.main > .content.Tomorrow > .tomorrow-task > .status {
    margin-left: auto;
    width: 7%;
    padding: 2px 8px;
    color: white;
    font-size: 13px;
    height: 70%;
    display: flex;
    align-items: center;
}

.main > .content.Tomorrow > .tomorrow-task > .not-started {
    background-color: tomato;
}

.main > .content.Tomorrow > .tomorrow-task > .in-progress {
    background-color: orange;
}

.main > .content.Tomorrow > .tomorrow-task > .complete {
    background-color: lightgreen;
}